@charset "utf-8";
/* CSS Document */

.main-wrap {
	width: 80%;
	height: 100%;
}

.sidebar {    
    width: 150px;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
	background: yellow;
	display: inline-block;
}

.sidebar h1 {
    color: #000000;
}

.portfolio {    
    position: relative;
    top: 0;
    left: 150px;
    right: 0;
    bottom: 0;
	background: #ffffff;    
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
	display: inline-block;
    vertical-align: top;
}

input[type=checkbox] {
   display: none;
}

input:checked ~ .portfolio { 
    left: 0;
}

input:checked ~ label {
    left: 0;
}

label {
    z-index: 2;
    position: initial;
    top: 0;
    left: 150px;
    background-color: blue;
    -moz-transition: left 0.5s ease;
    transition: left 0.5s ease;
    display: block;
    width: 70px;
    height: 30px;
}