@charset "utf-8";
/* CSS Document */

.hedr {
    height: 30px;
    width: 100%;
    color: #ffffff;
    background: #5f9bab;
    padding: 5px 0 5px 10px;
    font-weight: 800;
    line-height: 20px;
}

.cntt {
    background: #ffffff;
    width: 100%;
    padding: 5px 0 5px 10px;
	color: #000000;
	text-align: left;
	height: 410px;
    font-size: 15px;
	border-bottom: 1px solid #9c9c9c;
}

.cntt input, datalist {
    width: 100%;
    border: 1px solid #b690ce;
    height: 35px;
    padding: 0 0 0 5px;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.cntt input[type=file] {
    display: block;
    border: 1px solid #b690ce;
    height: 35px;
    border-radius: 5px;
    margin-top: 7px;
    text-align: center !important;
    padding-top: 5px;
    padding-left: 5px;
    width: 100%;
}

.ful {
    width: 99%;
    height: 80px;
    display: block;
    border: 1px solid #b690ce;
    border-radius: 5px;
    margin-top: 7px;    
    padding-top: 5px;
    padding-left: 5px;
    margin: 0 auto;
}

.abc {
    width: 97%;
    display: block;
    margin: 0 auto;
}

.optns {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.optns input[type="submit"] {
    width: 49%;
    display: inline-block;
    height: 35px;
    margin-top: 0;
    margin-bottom: 5px;
}

.optn-con {
	width: 100%;
	height: 404px;
	display: block;
	margin: 0 auto;
	overflow: scroll;
}

.optn-con input[type=checkbox] {
	width: 15px;
	height: 15px;
}

.optn-con table {
	width: 100%;
	display: block;
}

.optn-con tr, th {
	text-align: center !important;
}

.optn-con td, th {
	width: 32%;
    border: 1px solid #add3ff;
    border-collapse: collapse;
    padding-left: 5px;
	height: 35px;
}

.optn-con tr:nth-child(odd) {
    background-color: #f3f7ff;
}

/* .optn-con tr:nth-child(even) {
    background-color: #fff7ec;
} 	*/

.optn-con th,td:first-child {
    width: 6%;
}

.swap1 {
    background: #2b3643;
    color: #ffffff;
    border: none !important;
    background: -webkit-linear-gradient(left top, #2b3643, #9dacbd);
    background: -o-linear-gradient(bottom right, #2b3643, #9dacbd);
    background: -moz-linear-gradient(bottom right, #2b3643, #9dacbd);
    background: linear-gradient(to bottom right, #2b3643, #9dacbd);
	box-shadow: 0 0 6px #61af06;
}

.swap1:hover {
	box-shadow: 0 0 6px #ffffff;
}

.swap2 {
    background: #ffffff;
    color: #000000;
    border: 1px solid #cecece !important;
    font-weight: bold;
}