@charset "utf-8";
/* CSS Document */

.l1-hdr {
	width: 80%;
	display: block;	
	background: #2a3542;
    background: -webkit-linear-gradient(#9dacbd, #2a3542);
    background: -o-linear-gradient(#9dacbd, #2a3542);
    background: -moz-linear-gradient(#9dacbd, #2a3542);
    background: linear-gradient(#9dacbd, #2a3542);
	margin: 0 auto;
    font-size: 18px;
    text-align: left;
    padding-left: 10px;
    height: 40px;
    line-height: 40px;
}

.l1-hdr input[type="submit"] {
    width: 90px;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    line-height: 35px;
    display: inline-block;
    float: right;
    margin: 2px 5px;
    background: #2b3643;
    border: 1px solid #969696;
    border-radius: 6px;
	box-shadow: 0 0 5px #00548e;
}

.l1-hdr input[type="submit"]:hover {
	box-shadow: 0 0 5px #ffffff;
}

.full {
    width: 80%;
    display: block;
    background: #ffffff;
    color: #000000;
    margin: 0 auto;
    height: 217px;
	font-size: 15px;
    text-align: left;
	border-bottom: 1px solid #9c9c9c;
}

.full input[type="text"] {
    width: 350px;
    border: 1px solid #b690ce;
    height: 35px;
    padding: 0 0 0 5px;
    border-radius: 5px;
	margin-bottom: 15px;
    margin-top: 10px;
}

.full input[type=file] {
    display: block;
    border: 1px solid #b690ce;
    height: 35px;
    border-radius: 5px;
    margin-top: 7px;
    text-align: center !important;
    padding-top: 5px;
    padding-left: 5px;
    width: 350px;
}

.sep {
    width: 100%;
    border-bottom: 1px dotted #b3b3b3;
}

.full-ftr {
    width: 80%;
    display: block;
    background: #e0e0e0;
    color: #ffffff;
    margin: 0 auto;
    padding-top: 10px;
    height: 50px;
}

.full-ftr input[type="submit"] {
    border: 2px solid #ffffff;
    border-radius: 6px;
    width: 80px;
    height: 30px;
    margin: 0 5px;
	box-shadow: 0 0 3px #000000;
}

.full-ftr input[type="submit"]:hover {
    border: 2px solid #ffffff;
	box-shadow: 0 0 3px #00ffd0;
}

.blu {
	background: #2b3643;
}

.blu:hover {
	background: #0048cc;
}

.rad {
	background: #2b3643;
}

.rad:hover {
	background: #de0839;
}

.gren {
	background: #2b3643;
}

.gren:hover {
	background: #3eb700;
}