@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	font-family: 'Junction Regular';

	background: url(../img/b5.png);
}

/* HEADER ENDSS */

header {
	display: block;
    width: 100%;
    height: 50px;
	position: fixed;
	z-index: 999;
}

header, footer {
	color: #ffffff;
    background: #2a3542;
	background: -webkit-linear-gradient(#9dacbd, #2a3542);
    background: -o-linear-gradient(#9dacbd, #2a3542);
    background: -moz-linear-gradient(#9dacbd, #2a3542);
    background: linear-gradient(#9dacbd, #2a3542);
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
	margin-bottom: 0px !important;
}

logo {
    display: inline-block;
    width: 7%;
}

logo img {
    width: 45%;
    margin: 0 0 0 15px;
    display: block;
}

nevi {
    width: 45%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
}

nevi li {
    display: inline-block;
    color: #ffffff;
    font-family: calibri, sans-serif;
    line-height: 50px;
    padding: 0 10px;
    font-weight: bold;
    font-size: 18px;
	transition: all 0.5s ease;
}
nevi li:hover {
	color: #ffffff;
}

.sub-menu {
	display: none;
}

nevi li:hover .sub-menu {
    display: block;
    position: fixed;
    z-index: 999;
}

.sub-menu li {
    display: block;
    background: #4d5a68;
	width: 150px;
    text-align: center;
}

.sub-menu li:hover {
	background: #2a3542;
}

profile {
    width: 20%;
    display: inline-block;
    font-size: 12px;
    height: 50px;
    line-height: 50px;
    vertical-align: top;
}

account {
    width: 15%;
    display: inline-block;
    height: 45px;
    vertical-align: top;
    margin-top: 2px;
    border-radius: 10px;
    margin-left: 2px;
    color: #000000;
    box-shadow: 0 0 10px #00548e;
}

account:hover {
	box-shadow: 0 0 10px #ffffff;
}

account img {
    height: 40px;
    margin-left: 5px;
    display: inline-block;
}

account p {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    line-height: 15px;
    margin: 0 auto !important;
    text-align: center;
    width: 54%;
    vertical-align: top;
    top: 15px;
}

account p i{
	vertical-align: top;
	display: inline-block;
}

/* HEADER ENDSS */

/* MAIN STARTS */

main {
	width: 100%;
	display: block;
}

main li a {
	text-decoration: none;
	color: #000000;
}

.navig {
	
}

.container {
    width: 100% !important;
    text-align: center;
}

.navigator {
    width: 96%;
    display: block;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
    position: fixed;
    z-index: 999;
}

.navigator img {
    width: 7%;
}

.tbl_hdr1 {
    background: #5f9bab;
    height: 20px;
    color: #ffffff;
    width: 49%;
    display: inline-block;
    float: left;
    padding: 5px 0 5px 1px;
    font-weight: 800;
    line-height: 20px;
}

.tbl_hdr2 {
    background: #5f9bab;
    height: 20px;
    color: #ffffff;
    width: 49%;
    display: inline-block;
    float: right;
    padding: 5px 0 5px 1px;
    font-weight: 800;
    line-height: 20px;
}

.lft {
    float: left;
    width: 49%;
    overflow: auto;
    height: 350px;
    background: #ffffff;
    margin: 0 auto;
    display: block;
    padding: 2px 0px 4px 1px;
    color: #000000;
}

.lft table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.lft table tr:nth-child(odd) {
    background: #FFF;
}

.lft table tr:nth-child(even) {
    background: #afd1db;
}

.lft table td {
    border: 1px solid #e2e2e2;
    padding: 5px 1px 5px 3px;
}

.v_more1 {
    float: left;
    width: 48%;
    margin: 0 auto;
    display: block;
    padding: 8px 0px 8px 14px;
    color: #47B8F7;
    font-size: 13px;
    background: #e9e9e9;
}

.v_more1 a {
    text-decoration: none;
    color: #47B8F7;
}

.rght {
    float: right;
    width: 49%;
    overflow: auto;
    height: 350px;
    background: #ffffff;
    margin: 0 auto;
    display: block;
    padding: 2px 0px 4px 1px;
    color: #000000;
}

.rght table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.rght table tr:nth-child(odd) {
    background: #FFF;
}

.rght table tr:nth-child(even) {
    background: #afd1db;
}

.rght table td {
    border: 1px solid #e2e2e2;
    padding: 5px 1px 5px 3px;
}

.v_more2 {
    float: right;
    width: 48%;
    margin: 0 auto;
    display: block;
    padding: 8px 0px 8px 14px;
    color: #47B8F7;
    font-size: 13px;
    background: #e9e9e9;
}

.v_more2 a {
    text-decoration: none;
    color: #47B8F7;
}

.same {
    width: 24%;
    display: inline-block;
    height: 100px;
    background: #ffffff;
    color: #000000;
}

.l {
    width: 39%;
    display: inline-block;
    color: #ffffff;    
    height: 100px;
	float: left;
}

.r {
    width: 61%;
    color: #ffffff;
    height: inherit;
    display: inline-block;
    background: #20a281 linear-gradient(140deg, #20a281 0%, #20a281 10%, #1e9a7a 10%, #1e9a7a 20%, #1c8f71 19%, #1d9274 21%, #1d9274 20%, #1d9274 30%, #1a876b 29%, #1b8a6d 31%, #1b8a6d 30%, #1b8a6d 40%, #197f64 39%, #1a8267 41%, #1a8267 40%, #1a8267 50%, #17765e 49%, #187a61 51%, #187a61 50%, #187a61 60%, #166e58 59%, #16725a 61%, #16725a 60%, #16725a 70%, #146651 69%, #156954 71%, #156954 70%, #156954 80%, #135e4b 79%, #13614d 81%, #13614d 80%, #13614d 90%, #115644 89%, #125947 91%, #125947 90%, #125947 100%);
}


/* MAIN ENDSS */

/* FOOTER STARTS */

footer {
    display: block;
    width: 100%;
    height: 50px;
    bottom: 0px;
    position: fixed;
}

footer a {
    color: #ffffff !important;
    text-decoration: none !important;
}

.equl {
    width: 33%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 50px;
    font-weight: bold;
    float: left;
}

/* FOOTER ENDS */