@charset "utf-8";
/* CSS Document */

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 55px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
	margin-right: 5px;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
	opacity: 1 !important;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close .glyphicon {
    font-size: 20px;
    text-shadow: none;
    color: #00e209;
    opacity: 1 !important;
    margin-top: 5px;
}

.close .glyphicon:hover {
	color: red;
}

.modal-header {
    padding: 10px 16px !important;
    background-color: #2c3744;
    color: white;
}

.modal-body {
	padding: 2px 16px;
	text-align: center !important;
	background: #afafaf;
}

.modal-body h4,h5 .glyphicon {
	color: #000000;
}

.modal-footer {
    padding: 10px 10px !important;
    background-color: #E91E63;
    color: white;
	text-align: center !important;
}

.modl {
	width:  30%;
	display: inline-block;
	text-align: center;
}

.modal-content a:hover {
	color: #ffffff;
	text-decoration: none;
}

button#myBtn {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0);
    border: none;
}

account .glyphicon {
    font-size: 30px;
    margin-left: 5px;
    color: #ffffff;
    line-height: 40px;
}

button#myBtn .glyphicon {
    font-size: 20px;
    line-height: 25px;
}

.fa-4x {
    font-size: 4em;
    margin-top: 20px;
}

