
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
html, body {
   height: 100%;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.wrapper:before, .wrapper:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    background-color: #eee;
    padding-left: 0;
    float: left;
    min-height: 100%;
}

#sidebar .collapse.in {
    display: inline;
}

#sidebar > .nav>li>a {
    white-space: nowrap;
    overflow: hidden;
}

#main {
    padding: 15px;
    left: 0;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }
    
    #main {
        width: 1%;
        left: 0;
    }
    
    #sidebar .visible-xs {
       display:inline !important;
    }
    
    .row-offcanvas {
       position: relative;
       -webkit-transition: all 0.4s ease-in-out;
       -moz-transition: all 0.4s ease-in-out;
       transition: all 0.4s ease-in-out;
    }
    
    .row-offcanvas-left.active {
       left: 45%;
    }
    
    .row-offcanvas-left.active .sidebar-offcanvas {
       left: -45%;
       position: absolute;
       top: 0;
       width: 45%;
    }
} 
 
 
@media screen and (min-width: 768px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left.active {
    left: 3%;
  }

  .row-offcanvas-left.active .sidebar-offcanvas {
    left: -3%;
    position: absolute;
    top: 0;
    width: 3%;
    text-align: center;
    min-width:42px;
  }
  
  #main {
    left: 0;
  }
}
<div class="ace_scroller" style="left: 53px; right: 7px; bottom: 0px; cursor: default;"><div class="ace_content" style="margin-top: 0px; width: 575px; height: 447px; margin-left: 0px;"><div class="ace_layer ace_print-margin-layer"><div class="ace_print-margin" style="left: 531.825px; visibility: hidden;"></div></div><div class="ace_layer ace_marker-layer"><div class="ace_selection ace_br1 ace_start" style="height:14px;right:0;top:0px;left:4px;"></div><div class="ace_selection ace_br12" style="height:14px;width:0px;top:434px;left:4px;"></div><div class="ace_selection ace_br8" style="height:420px;right:0;top:14px;left:4px;"></div></div><div class="ace_layer ace_text-layer" style="padding: 0px 4px;"><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_constant">html</span>, <span class="ace_constant">body</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span>, <span class="ace_variable">.row</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-left</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-right</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:before</span>, <span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:before</span>, <span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">content</span>: <span class="ace_string">""</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">table</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">clear</span>: <span class="ace_support ace_constant">both</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">background-color</span>: <span class="ace_constant ace_numeric">#eee</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">padding-left</span>: <span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">float</span>: <span class="ace_support ace_type">left</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">min-height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_variable">.collapse.in</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">inline</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div></div><div class="ace_layer ace_marker-layer"></div><div class="ace_layer ace_cursor-layer ace_hidden-cursors"><div class="ace_cursor" style="left: 4px; top: 1470px; width: 6.59781px; height: 14px;"></div></div></div></div><div class="ace_scroller" style="left: 53px; right: 7px; bottom: 0px; cursor: default;"><div class="ace_content" style="margin-top: 0px; width: 575px; height: 447px; margin-left: 0px;"><div class="ace_layer ace_print-margin-layer"><div class="ace_print-margin" style="left: 531.825px; visibility: hidden;"></div></div><div class="ace_layer ace_marker-layer"><div class="ace_selection ace_br1 ace_start" style="height:14px;right:0;top:0px;left:4px;"></div><div class="ace_selection ace_br12" style="height:14px;width:0px;top:434px;left:4px;"></div><div class="ace_selection ace_br8" style="height:420px;right:0;top:14px;left:4px;"></div></div><div class="ace_layer ace_text-layer" style="padding: 0px 4px;"><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_constant">html</span>, <span class="ace_constant">body</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span>, <span class="ace_variable">.row</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-left</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-right</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:before</span>, <span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:before</span>, <span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">content</span>: <span class="ace_string">""</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">table</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">clear</span>: <span class="ace_support ace_constant">both</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">background-color</span>: <span class="ace_constant ace_numeric">#eee</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">padding-left</span>: <span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">float</span>: <span class="ace_support ace_type">left</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">min-height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_variable">.collapse.in</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">inline</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div></div><div class="ace_layer ace_marker-layer"></div><div class="ace_layer ace_cursor-layer ace_hidden-cursors"><div class="ace_cursor" style="left: 4px; top: 1470px; width: 6.59781px; height: 14px;"></div></div></div></div><div class="ace_scroller" style="left: 53px; right: 7px; bottom: 0px; cursor: default;"><div class="ace_content" style="margin-top: 0px; width: 575px; height: 447px; margin-left: 0px;"><div class="ace_layer ace_print-margin-layer"><div class="ace_print-margin" style="left: 531.825px; visibility: hidden;"></div></div><div class="ace_layer ace_marker-layer"><div class="ace_selection ace_br1 ace_start" style="height:14px;right:0;top:0px;left:4px;"></div><div class="ace_selection ace_br12" style="height:14px;width:0px;top:434px;left:4px;"></div><div class="ace_selection ace_br8" style="height:420px;right:0;top:14px;left:4px;"></div></div><div class="ace_layer ace_text-layer" style="padding: 0px 4px;"><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_constant">html</span>, <span class="ace_constant">body</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span>, <span class="ace_variable">.row</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-left</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-right</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:before</span>, <span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:before</span>, <span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">content</span>: <span class="ace_string">""</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">table</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">clear</span>: <span class="ace_support ace_constant">both</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">background-color</span>: <span class="ace_constant ace_numeric">#eee</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">padding-left</span>: <span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">float</span>: <span class="ace_support ace_type">left</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">min-height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_variable">.collapse.in</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">inline</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div></div><div class="ace_layer ace_marker-layer"></div><div class="ace_layer ace_cursor-layer ace_hidden-cursors"><div class="ace_cursor" style="left: 4px; top: 1470px; width: 6.59781px; height: 14px;"></div></div></div></div><div class="ace_scroller" style="left: 53px; right: 7px; bottom: 0px; cursor: default;"><div class="ace_content" style="margin-top: 0px; width: 575px; height: 447px; margin-left: 0px;"><div class="ace_layer ace_print-margin-layer"><div class="ace_print-margin" style="left: 531.825px; visibility: hidden;"></div></div><div class="ace_layer ace_marker-layer"><div class="ace_selection ace_br1 ace_start" style="height:14px;right:0;top:0px;left:4px;"></div><div class="ace_selection ace_br12" style="height:14px;width:0px;top:434px;left:4px;"></div><div class="ace_selection ace_br8" style="height:420px;right:0;top:14px;left:4px;"></div></div><div class="ace_layer ace_text-layer" style="padding: 0px 4px;"><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_constant">html</span>, <span class="ace_constant">body</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span>, <span class="ace_variable">.row</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-left</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-right</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:before</span>, <span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:before</span>, <span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">content</span>: <span class="ace_string">""</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">table</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">clear</span>: <span class="ace_support ace_constant">both</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">background-color</span>: <span class="ace_constant ace_numeric">#eee</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">padding-left</span>: <span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">float</span>: <span class="ace_support ace_type">left</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">min-height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_variable">.collapse.in</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">inline</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div></div><div class="ace_layer ace_marker-layer"></div><div class="ace_layer ace_cursor-layer ace_hidden-cursors"><div class="ace_cursor" style="left: 4px; top: 1470px; width: 6.59781px; height: 14px;"></div></div></div></div><div class="ace_scroller" style="left: 53px; right: 7px; bottom: 0px; cursor: default;"><div class="ace_content" style="margin-top: 0px; width: 575px; height: 447px; margin-left: 0px;"><div class="ace_layer ace_print-margin-layer"><div class="ace_print-margin" style="left: 531.825px; visibility: hidden;"></div></div><div class="ace_layer ace_marker-layer"><div class="ace_selection ace_br1 ace_start" style="height:14px;right:0;top:0px;left:4px;"></div><div class="ace_selection ace_br12" style="height:14px;width:0px;top:434px;left:4px;"></div><div class="ace_selection ace_br8" style="height:420px;right:0;top:14px;left:4px;"></div></div><div class="ace_layer ace_text-layer" style="padding: 0px 4px;"><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_constant">html</span>, <span class="ace_constant">body</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span>, <span class="ace_variable">.row</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-left</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-right</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:before</span>, <span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:before</span>, <span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">content</span>: <span class="ace_string">""</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">table</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">clear</span>: <span class="ace_support ace_constant">both</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">background-color</span>: <span class="ace_constant ace_numeric">#eee</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">padding-left</span>: <span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">float</span>: <span class="ace_support ace_type">left</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">min-height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_variable">.collapse.in</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">inline</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div></div><div class="ace_layer ace_marker-layer"></div><div class="ace_layer ace_cursor-layer ace_hidden-cursors"><div class="ace_cursor" style="left: 4px; top: 1470px; width: 6.59781px; height: 14px;"></div></div></div></div><div class="ace_scroller" style="left: 53px; right: 7px; bottom: 0px; cursor: default;"><div class="ace_content" style="margin-top: 0px; width: 575px; height: 447px; margin-left: 0px;"><div class="ace_layer ace_print-margin-layer"><div class="ace_print-margin" style="left: 531.825px; visibility: hidden;"></div></div><div class="ace_layer ace_marker-layer"><div class="ace_selection ace_br1 ace_start" style="height:14px;right:0;top:0px;left:4px;"></div><div class="ace_selection ace_br12" style="height:14px;width:0px;top:434px;left:4px;"></div><div class="ace_selection ace_br8" style="height:420px;right:0;top:14px;left:4px;"></div></div><div class="ace_layer ace_text-layer" style="padding: 0px 4px;"><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_constant">html</span>, <span class="ace_constant">body</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span>, <span class="ace_variable">.row</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-left</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">   <span class="ace_support ace_type">margin-right</span>:<span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:before</span>, <span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:before</span>, <span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height:14px"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">content</span>: <span class="ace_string">""</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">table</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.wrapper</span><span class="ace_string">:after</span>,</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_variable">.column</span><span class="ace_string">:after</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">clear</span>: <span class="ace_support ace_constant">both</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">background-color</span>: <span class="ace_constant ace_numeric">#eee</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">padding-left</span>: <span class="ace_constant ace_numeric">0</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">float</span>: <span class="ace_support ace_type">left</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">min-height</span>: <span class="ace_constant ace_numeric">100</span><span class="ace_keyword">%</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_keyword">#sidebar</span> <span class="ace_variable">.collapse.in</span> <span class="ace_paren ace_lparen">{</span></div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px">    <span class="ace_support ace_type">display</span>: <span class="ace_support ace_constant">inline</span>;</div></div><div class="ace_line_group" style="height: 14px;"><div class="ace_line" style="height:14px"><span class="ace_paren ace_rparen">}</span></div></div></div><div class="ace_layer ace_marker-layer"></div><div class="ace_layer ace_cursor-layer ace_hidden-cursors"><div class="ace_cursor" style="left: 4px; top: 1470px; width: 6.59781px; height: 14px;"></div></div></div></div>L, Javascript, jQuery, and CSS. Snippet by TerryTel93.L, Javascript, jQuery, and CSS. Snippet by TerryTel93.L, Javascript, jQuery, and CSS. Snippet by TerryTel93.L, Javascript, jQuery, and CSS. Snippet by TerryTel93.L, Javascript, jQuery, and CSS. Snippet by TerryTel93.L, Javascript, jQuery, and CSS. Snippet by TerryTel93.L, Javascript, jQuery, and CSS. Snippet by TerryTel93.@charset "utf-8";
/* CSS Document */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
    /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}

#wrapper {
    padding-left: 0;    
}

#page-wrapper {
    width: 100%;        
    padding: 0;
    background-color: #fff;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 22px 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
    line-height: 20px;
    color: #fff;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #1a242f;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    /*border: 1px solid rgba(0,0,0,.15);*/
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 60px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #222;
        /*background-color: #5A6B7D;*/
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
}

.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    /*color: #999;*/
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
    padding: 5px 15px;
}