@charset "utf-8";
/* CSS Document */

body, html {
	margin: 0;
	padding: 0;
	font-family: "Lato", sans-serif
}

nav {
	width: 250px;
	height: 100%;
	background: #2a3542;	
}

nav ul {
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 10px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    width: 230px;
}

nav li {
    color: #ffffff;
    width: 100%;
    font-size: 15px;
    height: auto;
    padding: 2px 0 2px 10px;
    line-height: 40px;
}

nav li:hover {
    /* border-bottom: 1px solid #ff0000; */
    background: #35404d;
    border-radius: 5px;
}

nav li:hover li {
    display: block;    
}

nav ul li ul {
	transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    display: block;
    list-style-type: none;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    width: 220px;
}

nav li li {
    color: #ffffff;
    display: none;
    /* background: #000000; */
    padding: 2px 0 2px 0px;
}

nav li li:hover {    
    border-bottom: none;
}

/* --------------------------------------------------------------- */

.hhddrr {
    height: 40px;
    width: 100%;
    text-align: left;
    line-height: 40px;
    font-size: 18px;
    padding-left: 10px;
    background: #2a3542;
    background: -webkit-linear-gradient(#9dacbd, #2a3542);
    background: -o-linear-gradient(#9dacbd, #2a3542);
    background: -moz-linear-gradient(#9dacbd, #2a3542);
    background: linear-gradient(#9dacbd, #2a3542);
    z-index: 0;
    position: relative;
}

.hhddrr input[type="submit"] {
    width: 145px;
    height: 35px;
    color: #ffffff;
    font-size: 14px;
    line-height: 35px;
    display: inline-block;
    float: right;
    margin: 2px 5px;
    background: #2b3643;
    border: 1px solid #969696;
    border-radius: 6px;
    box-shadow: 0 0 5px #00548e;
}

.hhddrr input[type="submit"]:hover {
    box-shadow: 0 0 5px #ffffff;
}