@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
}

logo {
    width: 20%;
    display: inline-block;
}

logo img {
	width: 20%;
}

.buy {
    display: inline-block;
    vertical-align: top;
    width: 10%;
    background: #64c0ff;
    height: 40px;
    padding: 8px;
    border-radius: 5px;
    line-height: 40px;
    margin: 5px auto;
}
.buy a{
	text-decoration: none;
	color: #000000;
}

.dateTime {
    width: 20%;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-top: 8px;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
}

.profile {
	width: 20%;
	display: inline-block;
}